<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Type Anywhere !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Easy search module powered by the powerness of Javascript">
    <link rel="author" href="https://plus.google.com/u/0/110592770316565776182/posts?partnerid=gplp0"/>

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/r.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="http://rawgithub.com/Ciul/angular-facebook/master/lib/angular-facebook.js"></script>
    <script src="script.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/application.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '175480269204184',                    // App ID from the app dashboard
        status     : true,                                 // Check Facebook Login status
        xfbml      : true                                  // Look for social plugins on the page
      });
    };

    (function(){
      if (document.getElementById('facebook-jssdk')) {return;}

      var firstScriptElement = document.getElementsByTagName('script')[0];

      var facebookJS = document.createElement('script');
      facebookJS.id = 'facebook-jssdk';
      facebookJS.src = 'http://connect.facebook.net/en_US/all.js';

      firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
    }());
    </script>
    <div class="container" ng-app="">
      <div class="demo-headline">
        <h1 class="demo-logo">
          Type Anywhere !
        </h1>
        <h4>Start typing anywhere on this page</h4>
        <h6><a href="http://designmodo.github.io/Flat-UI/">Designed with Flat-UI</a></h6>
      </div> <!-- /demo-headline -->

      <div class="demo-headline">
        <div class="col-md-4">
          <h3>Facebook</h3>
          <button class="btn btn-primary btn-large btn-block" data-ng-show="!logged" data-ng-click="IntentLogin()">Login</button>
        </div>
        <div class="col-md-4">
          <h3>Twitter</h3>
          <button class="btn btn-primary btn-large btn-block" id="tw-login">Login</button>
        </div>
        <div class="col-md-4">
          <h3>GitHub</h3>
          <button class="btn btn-primary btn-large btn-block" id="gh-login">Login</button>
        </div>
      </div>

      <div class="hidden overlay" id="overlay">
        <div class="container low-margin-top">
          <h2 class="align-center">Type search here !</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" value="" name="search-input" ng-model="data.search" class="form-control" id="search-input"/>
                <div id="search-select">
                  <p class="btn btn-block btn-lg btn-default" id="display-a-0">
                    <span class="fui-search"></span> Search ' {{data.search}} ' on Google
                  </p>
                  <p class="btn btn-block btn-lg btn-default" id="display-a-1">
                    <span class="fui-search"></span> Search ' {{data.search}} ' on Wikipedia
                  </p>
                  <p class="btn btn-block btn-lg btn-default" id="display-a-2">
                    <span class="fui-search"></span> Search ' {{data.search}} ' on GitHub
                  </p>
                  <p class="btn btn-block btn-lg btn-default" id="display-a-3">
                    <span class="fui-search"></span> Search ' {{data.search}} ' on Youtube
                  </p>
                </div>
              </div>
            </div>
          </div>
          <h4 class="align-center">Press 'ESC' to leave or 'ENTER' to search</h4>
        </div>
      </div>
    </div>
  </body>
</html>
